mj-raw
  // Icons
mj-section(background-color='#fbfbfb')
  mj-column
    mj-image(width='100px' src='http://191n.mj.am/img/191n/3s/x0l.png')
  mj-column
    mj-image(width='100px' src='http://191n.mj.am/img/191n/3s/x01.png')
  mj-column
    mj-image(width='100px' src='http://191n.mj.am/img/191n/3s/x0s.png')
